<footer id="footer">
    <div class="utility-footer">
        <ul>
            <li><a href="javascript:void(0)">Condizioni Generali di abbonamento</a></li>
            <li><a href="javascript:void(0)">Informativa sulla privacy</a></li>
            <li><a href="javascript:void(0)">Normativa sulla privacy in UE e UK</a></li>
            <li><a href="javascript:void(0)">Policy sui cookie</a></li>
            <li><a href="javascript:void(0)">Pubblicità basata sugli interessi</a></li>
            <li><a href="javascript:void(0)">Dispositivi supportati</a></li>
            <li><a href="javascript:void(0)">Assistenza</a></li>
            <li><a href="javascript:void(0)">Gestisci preferenze</a></li>
            <li>I contenuti e le piattaforme disponibili possono variare in base alla zona geografica.<br>© 2022 LabTV e le sue società collegate. Tutti i diritti sono riservati.</li>
        </ul>
    </div> 
</footer>